.ql-editor::before {
  color: #64d2b3 !important; 
  font-style: italic;
  font-size: 16px; 
  opacity: 0.8; 
}


.text-soft-teal {
  color: #64d2b3;
  /* Softer teal */
}

.bg-soft-teal {
  background-color: #64d2b3;
}

.bg-muted-purple {
  background-color: #9180c2;
  /* Soft muted purple */
}

.bg-muted-purple-h:hover {
  background-color: #9180c2;
  /* Soft muted purple */
}

.ql-toolbar button {
  color: white;
  background-color: transparent;
  border-radius: 4px;
  transition: all 0.3s ease;
}

/* Card Styling */
.card {
  padding: 2rem;
  border: 2px solid #64d2b3;
  transition: all 0.3s ease;
  transform: perspective(1000px);
}

.card:hover {
  transform: perspective(1000px) scale(1.03);
  box-shadow: 0 0 15px #64d2b3, 0 0 25px #9180c2;
}

.Toastify__toast--success {
  background-color: #64D2B3; /* Soft teal */
  color: black;
}

.Toastify__toast--error {
  background-color: #FF4081; /* Red for error */
  color: white;
}

.Toastify__toast--info {
  background-color: #9180C2; /* Muted purple */
  color: white;
}